@import '../../../node_modules/antd/dist/antd.css';

body{
  overflow: hidden;
}
.boite{
    box-shadow: 0px 4px 8px #80808099;
border-radius: 5px;
margin: 8px;
padding: 2%;
background: white;
}
.page{
    padding-top: 50px;
    height: 615px;
overflow: scroll;
}