.loginForms {
  margin: 0 auto;
  max-width: 400px;
  margin-top: 7%;
  padding: 1em;
}

.loginForms .logo{
  background: url('../Ressources/logo_p.png') no-repeat;
  background-size: contain;
  height: 85px;
  margin: 18px 26px;
}

.stepContent {
  padding: 10%;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  height: 320px;
  text-align: center;
}

.stepActions {
  width: 100%;
  padding: 1em
}

.primaryAction{
  width: 95%;
  margin: 1em auto; 
}
.secondaryAction{
  width: 30%;
  margin: 1em;
}

.loginForm {
  margin: 0 auto;
  max-width: 300px;
}

