.title{
   /* background: linear-gradient(150deg,#139ac6 25% , #0ccad8);*/
/* padding: 2%; */
margin: 2%;
padding: 2% 2% 0 2% ;
border-radius: 3px;
/* box-shadow: 0px 1px 5px #80808099; */
text-transform: uppercase;
font-family: century_bold;
font-size: 20pt;
/* color: white; */
/* text-shadow: 3px 2px 4px #00000080; */
color: #30a7a3;
border-bottom: 2px solid #30a7a3 
}