.barretop{
    display: inline-flex;
list-style: outside none none;
background: linear-gradient(330deg, #0790c6 0%, #1890ff 75%);
width: 100%;
height: 50px;
position: fixed;
z-index: 3;
display: flex;
box-shadow: 2px 1px 4px;
}

.barretop button,.barretop .notif{
    position: absolute;
right: 9px;
top: 6px;
background: transparent;
}
.barretop .notif{
    right: 156px!important;
    border: none;
}
.notif span{
  width: 100%;
height: 100%;
padding: 7%;
border-radius: 50%;
font-size: 18px!important;
}

.txt_menu{
    display: inline-flex;
    font-size: 13pt;
    padding-top: 24%;
}

.txt_menu li a {
    color: black;
    margin-right: 48px;
    background-color: #d2cfcf4d;
    padding: 3%;
    border-radius: 3px;
    transition: all ease-in 0.3s;
}
.txt_menu li a:hover{
    background-color: white;
    color: #0e9cd1;
}
